.HeaderBlock {
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.Wrapper {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Wrapper .logo {
  font-size: 1.125rem;
  font-weight: 800;
  letter-spacing: 2px;
}
.Wrapper .right {
  display: flex;
  align-items: center;
}
.Spacer {
  height: 4rem;
}
